.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.chat-window {
  position: absolute;
  top: 3.0%;
  left: -0.5%;
  width: 38%;
  height: 22%;
  max-width: 500px;
  background-color: rgba(52, 73, 94, 0.7);
  -webkit-animation-duration: 2s;
}



.chat-messages {
  position: relative;
  height: 95%;
  font-size: 1.1vh;
  margin-left: 3%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.chat-input {
  font-size: 1.65vh;
  position: absolute;

  top: 23.8%;
  left: 0.8%;
  width: 38%;
  max-width: 1000px;
  box-sizing: border-box;
}

.prefix {
  font-size: 1.1vh;
  position: absolute;
  margin-top: 0.8%;
  left: 0.208%;
}

textarea {
  font-size: 1.1vh;
  display: block;
  box-sizing: border-box;
  padding: 1%;
  padding-left: 3.5%;
  color: white;
  background-color: rgba(13, 13, 13, 0.6);
  width: 45%;
  border-width: 0;
  height: 1.0%;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  display: inline-block;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  word-wrap: break-word;
  margin-right: -5px;
  max-width: 600px;
  animation: fadein 0.5s;
  border-radius: 3px;
}


.multiline {
  margin-left: -3.4%;
}

.suggestions {
  list-style-type: none;
  padding: 0.5%;
  padding-left: 1.4%;
  font-size: 1.1vh;
  box-sizing: border-box;
  color: white;
  background-color: rgba(44, 62, 80, 0.6);
  width: 45%;
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5%;
}

.hidden {
  display: none;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
